<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>..::ASEMI::..</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="margin-top: 0px; margin-bottom: 0px; text-align: center">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-xs-offset-2">
                <img src="{% static "img/uelbosque.jpg" %}" alt="Logo U El Bosque" width="58%" tabindex="1">
                <img src="{% static "img/inci.jpg" %}" alt="Logo INCI" width="27%" tabindex="1">
            </div>
            <div class="col-xs-12 col-sm-8 col-xs-offset-2">
                <p style="text-align: center">
                    <label style="font-size: 40px" tabindex="1">ASEMI: Aplicación Sistémica de Edición Matemática para Invidentes</label><br/>
                    <label style="font-size: 30px; text-align: center; line-height: 120%; font-weight: normal" tabindex="1">Proyecto de grado</label><br/>
                    <label style="font-size: 30px; text-align: center; line-height: 120%; font-weight: normal" tabindex="1">Realizado por: Ximena Garzón y Daniel Beltrán</label><br/>
                    <label style="font-size: 30px; text-align: center; line-height: 120%; font-weight: normal" tabindex="1">Director: Ingeniero Mario Silva</label><br/>
                    <label style="font-size: 30px; text-align: center; line-height: 120%; font-weight: normal" tabindex="1">Programa Ingeniería de Sistemas</label><br/>
                    <label style="font-size: 40px" tabindex="1">Créditos:</label><br/>
                    <label style="font-size: 30px; text-align: center; line-height: 120%; font-weight: normal" tabindex="1">Universidad El Bosque</label><br/>
                    <label style="font-size: 40px" tabindex="1">Asesorado por:</label><br/>
                    <label style="font-size: 30px; text-align: center; line-height: 120%; font-weight: normal" tabindex="1">INCI Instituto Nacional para Ciegos</label><br/>
                </p>
            </div>
        </div>
    </div>
</body>
</html>