<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>..::ASEMI::..</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body onload="mostrar_alert()">
<div class="container" style="margin-top: 25px; margin-bottom: 30px">
{#    Contenedor del Header Donde están los nombres y los logos  #}
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <p style="text-align: center">
                <label style="font-size: 25px" tabindex="1">ASEMI</label><br/>
            </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img src="{% static "img/uelbosque.jpg" %}" alt="Logo U El Bosque" width="58%" tabindex="11">
            <img src="{% static "img/inci.jpg" %}" alt="Logo INCI" width="27%" tabindex="11">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-xs-12">
            <label style="font-size: 24px" tabindex="1">Escriba ecuación en lenguaje Latex</label>
            <form action="/" method="post">
                {% csrf_token %}
                <textarea name="latex_form" style="border: 1px solid #17AA5E; width: 90%; height: 250px" tabindex="2" id="ta_latex">{{ latex_form }}</textarea>
                <input type="submit" value="Graficar Ecuación" alt="Graficar Ecuación" class="btn btn-success" tabindex="3" onclick="this.disabled = true; this.value='Graficando...'">
                <input type="button" value="Limpiar" alt="Limpiar campos" class="btn btn-success" tabindex="4" onclick="reset_fields()">
{#                <input type="submit" value="Cargar Ecuación" alt="Cargar Ecuación" class="btn btn-info" tabindex="11">#}
            </form>
            <br>
            <form action="/export/" method="POST" target="_blank" style="display: inline-block; vertical-align: top">
                <input type="hidden" value="{{ mathml_data }}" name="data_mathml">
                {% csrf_token %}
                <button id="pdf_button" disabled="true"><img src="{% static "img/pdf.png" %}" alt="Descargar ecuación para presentar en formato PDF" height="70px" class="btn" tabindex="7"></button>
            </form>
            <form action="/export/json" method="POST" target="_blank" style="display: inline-block; vertical-align: top">
                <input type="hidden" value="{{ latex_form }}" name="equation_data">
                {% csrf_token %}
                <button id="export_button" disabled="true"><img src="{% static "img/json.png" %}" alt="Descargar para utilizar en una próxima ocasión" height="70px" class="btn" tabindex="7"></button>
            </form>
            <form action="/import/" enctype="multipart/form-data" method="POST" style="display: inline-block; vertical-align: top">
                <input type="hidden" value="{{ upload_file }}" name="upload_file" id="upload_file">
                {% csrf_token %}
                <input type="file" name="uploaded_file" tabindex="7" alt="Cargar archivo">
                <button><img src="{% static "img/import.png" %}" alt="Cargar archivo" height="40px" class="btn" tabindex="7"></button>
            </form>
        </div>
        <div class="col-sm-4 col-xs-12" style="margin-top: 4%">
            <div class="panel-group" id="accordion" tabindex="8">
            {% for sym in data_symbols %}
            {% ifchanged sym.7 %}
                {% if forloop.counter0 > 0 %}
                        </table>
                      </div>
                    </div>
                  </div>
                {% endif %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{ sym.0 }}" tabindex="9">
                      {{ sym.7 }}
                    </a>
                  </h4>
                </div>
                <div id="collapseOne{{ sym.0 }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <table border="1" bordercolor="#447e9b" width="100%">
                        {% if forloop.counter0|divisibleby:4 %}
                            {% if forloop.counter0 > 0 %}
                                </tr>
                            {% endif %}
                            <tr align="center">
                            <td><button tabindex="10" class="btn" style="background: none" latexval="{{ sym.1 }}" cursorpos="{{ sym.2 }}" onclick="setfunction(this)"><img src="{% static sym.3 %}" width="{{ sym.6 }}" alt="{{ sym.4 }}"></button></td>
                        {% endif %}
                        {% if not forloop.counter0|divisibleby:4 %}
                            <td><button tabindex="10" class="btn" style="background: none" latexval="{{ sym.1 }}" cursorpos="{{ sym.2 }}" onclick="setfunction(this)"><img src="{% static sym.3 %}" width="{{ sym.6 }}" alt="{{ sym.4 }}"></button></td>
                        {% endif %}
            {% else %}
                {% if forloop.counter0|divisibleby:4 %}
                    {% if forloop.counter0 > 0 %}
                        </tr>
                    {% endif %}
                    <tr align="center">
                    <td><button tabindex="10" class="btn" style="background: none" latexval="{{ sym.1 }}" cursorpos="{{ sym.2 }}" onclick="setfunction(this)"><img src="{% static sym.3 %}" width="{{ sym.6 }}" alt="{{ sym.4 }}"></button></td>
                {% endif %}
                {% if not forloop.counter0|divisibleby:4 %}
                    <td><button tabindex="10" class="btn" style="background: none" latexval="{{ sym.1 }}" cursorpos="{{ sym.2 }}" onclick="setfunction(this)"><img src="{% static sym.3 %}" width="{{ sym.6 }}" alt="{{ sym.4 }}"></button></td>
                {% endif %}
            {% endifchanged %}
            {% endfor %}
            </table>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12" style="">
            <label style="font-size:24px" tabindex="5">Ecuación Gráfica</label>
            <div class="col-sm-12" style="padding: 10px; min-height: 150px; min-width: 90%; font-size: 30px;">
                {% for math in mathml_data %}
                    <div class="col-sm-4">
                    {% with y=forloop.counter0|stringformat:"i" %}
                    {% with val_sound=val_sound|add:y|add:".ogg" %}
                        <input type="hidden" name="sound_name{{ y }}" id="sound_name{{ y }}" value="{% static val_sound %}">
                        <input type="button" value="Leer Linea {{ y|add:"1"}}" alt="Leer Linea {{ y|add:"1"}}" class="btn btn-success" tabindex="6" onclick="play_sound('sound_name{{ y }}')">
            {#            <img src="https://nomeloexplicaron.files.wordpress.com/2015/05/bloc-de-notas.png" alt="Guardar expresión en archivo" height="100px" class="btn" tabindex="16">#}
                    {% endwith %}
                    {% endwith %}
                    </div>
                    <div editable="true" readonly tabindex="6">{{ math | safe }}</div>
                    <br>
                {% endfor %}
            </div>

            <br>
        </div>
    </div>
</div>
<div class="col-xs-12" style="text-align: center">
    <label tabindex="12">Todos los derechos reservados 2017®</label>
    <label><a tabindex="12" href="/about" target="_blank">Acerca de</a></label>
</div>
</body>
<script type="text/javascript"
  src="/static/main/js/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{% static "main/js/script.js" %}"></script>
<script type="application/javascript">
    function play_sound(sound){
        console.log(sound)
        sound_name = document.getElementById(sound);
        var snd = new Audio(sound_name.value);
        snd.play();
    }

    function inhabilitar_boton(){

    }

    function reset_fields(){
        ta = document.getElementById("ta_latex");
        ta.value = "";
    }

    function mostrar_alert(){
        sound_name = document.getElementById("sound_name0");
        if (sound_name != null) {
            if (sound_name.value.indexOf('ogg') != -1) {
                alert('Las operaciones ya están disponibles de manera gráfica. \n Puede oirlas dando click al botón "Leer Ecuación"')
                document.getElementById("pdf_button").disabled = false;
                document.getElementById("export_button").disabled = false;
            }
        }else if(document.getElementById("ta_latex").value != '' && sound_name == null && document.getElementById("upload_file").value == "False"){
            alert('No se pudo convertir la ecuación, \n Por favor verifique lo que ingreso e inténtelo nuevamente')
        }else if(document.getElementById("ta_latex").value != '' && sound_name == null && document.getElementById("upload_file").value == "True"){
            alert('Se han cargado las ecuaciones correctamente')
        }
    }

    function setfunction(val){
        input_ta = document.getElementById("ta_latex");
        startPos = input_ta.selectionStart;
        console.log(startPos);
        f_part = input_ta.value.substring(0, startPos);
        s_part = input_ta.value.substring(startPos);
        console.log(f_part);
        console.log(s_part);
        input_ta.value = f_part + val.getAttribute("latexval") + s_part;
        input_ta.focus();
        console.log(val.getAttribute("cursorpos") + startPos);
        input_ta.selectionEnd = parseInt(val.getAttribute("cursorpos")) + startPos;
    }
</script>
</html>
