<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>..::ASEMI::..</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body onload="mostrar_alert()">
<div class="container">
{#    Contenedor del Header Donde están los nombres y los logos  #}
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <p style="text-align: center">
                <label style="font-size: 25px" tabindex="1">ASEMI</label><br/>
                <label style="text-align: center; line-height: 30%; font-weight: normal" tabindex="2">Proyecto de grado</label><br/>
                <label style="text-align: center; line-height: 30%; font-weight: normal" tabindex="3">Desarrollado por: Ximena Garzón y Daniel Beltrán</label><br/>
                <label style="text-align: center; line-height: 30%; font-weight: normal" tabindex="4">Director: Ingeniero Mario Silva</label><br/>
                <label style="text-align: center; line-height: 30%; font-weight: normal" tabindex="5">Programa Ingeniería de Sistemas</label><br/>
            </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img src="http://educacion.coomeva.com.co/imagenes/galeria/img127032.jpg" alt="Logo U El Bosque" width="200px" tabindex="6">
            <img src="https://userscontent2.emaze.com/images/c905548e-974d-43c5-af5f-b10318a4ef23/b869f9c186cc4a1ba8614bbfaf1482dc.jpg" alt="Logo INCI" width="120px" tabindex="7">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <label style="font-size: 24px" tabindex="8">Escriba ecuación en lenguaje Latex</label>
            <form action="/" method="post">
                {% csrf_token %}
                <textarea cols="80" rows="10" name="latex_form" style="border: 1px solid #777777" tabindex="9">{{ latex_form }}</textarea>
                <input type="submit" value="Graficar Ecuación" alt="Graficar Ecuación" class="btn btn-success" tabindex="10">
{#                <input type="submit" value="Cargar Ecuación" alt="Cargar Ecuación" class="btn btn-info" tabindex="11">#}
            </form>
        </div>
        <div class="col-sm-4" style="margin-top: 4%; display: none">
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
            <button class="btn btn-info" disabled="true">Función 1</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <label style="font-size: 24px" tabindex="12">Ecuación Gráfica</label>
            <div class="col-sm-8" style="border: 1px solid #777; min-height: 150px; min-width: 90%; font-size: 30px" tabindex="13">
                {{ mathml_data | safe }}
            </div>
        </div>
        <div class="col-sm-4">
            <input type="hidden" name="sound_name" id="sound_name" value="{% static name_record %}">
            <input type="button" value="Leer Ecuación" alt="Leer Ecuación" class="btn btn-success" tabindex="14" onclick="play_sound()">
{#            <img src="https://codigoenlata.files.wordpress.com/2015/11/pdf-cenlata.png" alt="Exportar ecuación a archivo PDF" height="100px" class="btn" tabindex="15">#}
{#            <img src="https://nomeloexplicaron.files.wordpress.com/2015/05/bloc-de-notas.png" alt="Guardar expresión en archivo" height="100px" class="btn" tabindex="16">#}
        </div>
    </div>
</div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{% static "main/js/script.js" %}"></script>
<script type="application/javascript">
    function play_sound(){
        sound_name = document.getElementById("sound_name");
        var snd = new Audio(sound_name.value);
        snd.play();
    }

    function mostrar_alert(){
        sound_name = document.getElementById("sound_name");
        if (sound_name.value == '/static/last_record.ogg') {
            alert('Las operaciones ya están disponibles de manera gráfica. \n Puede oirlas dando click al botón "Leer Ecuación"')
        }
    }
</script>
</html>
